-umpy @ file:///C:/Users/satye/pipwin/numpy-1.19.2%2Bmkl-cp39-cp39-win_amd64.whl
apiai==1.2.3
bcrypt==3.2.0
beautifulsoup4==4.9.3
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cmake==3.18.2.post1
covid==2.4.0
cycler==0.10.0
dlib==19.21.0
docopt==0.6.2
face-recognition==1.3.0
face-recognition-models==0.3.0
Flask==1.1.2
friday==0.3.5
gTTS==2.1.1
gTTS-token==1.1.3
idna==2.10
inflect==4.1.0
itsdangerous==1.1.0
jaraco.itertools==5.0.0
Jinja2==2.11.2
Js2Py==0.70
kiwisolver @ file:///C:/Users/satye/pipwin/kiwisolver-1.2.0-cp39-cp39-win_amd64.whl
MarkupSafe==1.1.1
matplotlib==3.3.2
more-itertools==8.6.0
mysql-connector-python==8.0.22
numpy==1.19.3
opencv-python==4.4.0.46
packaging==20.4
Pillow==8.0.0
pipwin==0.5.0
playsound==1.2.2
protobuf==3.14.0
PyAudio @ file:///D:/New%20folder%20%282%29/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
pycparser==2.20
pydantic==1.6.1
pyjsparser==2.7.1
pyparsing==2.4.7
PyPrind==2.11.2
pySmartDL==1.3.4
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
SpeechRecognition==3.8.1
typer==0.3.2
tzlocal==2.1
urllib3==1.25.11
Werkzeug==1.0.1
wolframalpha==4.0.0
xmltodict==0.12.0
Yapsy==1.12.2
